<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia aut</title>
</head>
<body>
<p><span th:text="${info.name}"></span></p>
<p><span th:text="${info.adress.street}"/> <span th:text="${info.adress.number}"/></p>
<p><span th:text="${info.adress.city}"></span></p>
<p>Otwarte od: <span th:text="${info.openingHours.start}"/> do: <span th:text="${info.openingHours.end}"/></p>


    <h1>Wypożyczalnia aut</h1>
    <h3>Dziś jest <span th:text="${date}"></span></h3>

 <div th:replace="fragments/navigation :: navigation"></div>
    Dostępne marki samochodów
    <ul>
        <li th:each="manufacturer: ${manufacturers}">
            <span th:text="${manufacturer}"/>
        </li>
    </ul>
</body>
<div th:replace="fragments/navigation :: footer"></div>
</html>
